.grid{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: 200px 350px 200px;
    grid-template-areas: 
    "sqgreen sqgreen sqgreen" 
    "sqyellow sqred sqblue" 
    "sqorange sqorange sqorange";
}
#green {
    grid-area: sqgreen;
}
#yellow {
    grid-area: sqyellow;
}
#orange {
    grid-area: sqorange;
}
#red {
    grid-area: sqred;
}
#blue {
    grid-area: sqblue;
}

#yellow > ul,#red > ul {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: 1fr 1fr;
}
